.sub-header {
    -fx-font: bold 12px "System";
    -fx-underline: true;
}

.row-container {
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 2px;
}

.setting-label {
    -fx-pref-width: 200px;
}

.setting-field {
    -fx-pref-width: 250px;
}