.sub-header {
    -fx-font: bold 12px "System";
}

.row-container {
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 2px;
    -fx-max-width: 600px;
}

.field-label {
    -fx-pref-width: 75px;
}

.field {
    -fx-pref-width: 300px;
}

.short-field {
    -fx-pref-width: 150px;
}

.centered-row {
    -fx-alignment: CENTER;
    -fx-spacing: 5px;
}

